body {
    background-color: #393E46;
    color: #929AAB;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Header Section */
header {
    padding: 20px;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 30px;
}

h1 {
    color: #EEEEEE;
    font-size: 3em;
    margin-bottom: 10px;
}

header div {
    margin-top: 36px;
    margin-bottom: 36px;
}

div p {
    margin-bottom: 0;
}

nav {
    color: #929AAB;
    font-size: 36px;
}

nav a {
    text-decoration: none;
}

nav i {
    color: #929AAB;
    margin-top: 12px;
    margin-right: 10px;
}

#name-title {
    color: #EEEEEE;
    margin-bottom: 24px;
}

/* Sections */
.section-name {
    color: #EEEEEE;
}

.section {
    padding: 20px 20px;
    margin-left: 72px;
    margin-right: 72px;
}


/* Media Queries for Responsive Design */
/* For Tablets */
@media screen and (max-width: 768px) {
    header {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 2em;
    }

    nav {
        font-size: 30px;
    }

    nav i {
        margin-top: 8px;
        margin-right: 8px;
    }

    #name-title {
        margin-bottom: 12px;
    }

    .section {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* For Mobile Phones */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    nav {
        font-size: 24px;
    }

    nav i {
        margin-top: 4px;
        margin-right: 6px;
    }

    #name-title {
        margin-bottom: 8px;
    }

    .section {
        margin-left: 10px;
        margin-right: 10px;
    }
}