{% extends "base.html" %}

{% block title %}ToDo App{% endblock %}

{% block content %}

<h1 class="mt-5">Edit Task</h1>

<p>{{ task.content }}</p>

<form action="{{ url_for('edit_task', task_id=task.id) }}" method='post' class="mt-3">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="mb-3">
        <label for="{{ form.task.id }}">Edit Task:</label>
        {{ form.task(size=32, id=form.task.id) }}
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="doneCheckbox" name="done" {% if form.done.data
                %}checked{% endif %}>
            <label class="form-check-label" for="doneCheckbox">Done</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Update Task</button>
</form>

{% endblock %}
