<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
</head>

<body>

    <h1>ToDo List</h1>

    <ul>
        {% for task in tasks %}
            <li>{{ task.content }}</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('add_task') }}" method="post">
        {{ form.csrf_token }}
        <label for="task">New Task:</label>
        {{ form.task(size=32, id=form.task.id, placeholder='Enter Task') }}
        <button type="submit">Add Task</button>
    </form>

</body>

</html>