{% extends 'base.html' %}

{% block title %}Register - ToDo App{% endblock %}

{% block content %}

<div class="container mt-5">

    <h4 class="mt-5">Register</h4>

    <form method="POST" action="{{ url_for('register') }}">

        {{ form.csrf_token }}

        <div class="mb-3">
            {{ form.username.label(class='form-label') }}
            {{ form.username(class='form-control') }}
        </div>

        <div class="mb-3">
            {{ form.password.label(class='form-label') }}
            {{ form.password(class='form-control') }}
        </div>

        {{ form.submit(class='btn btn-success') }}

    </form>

</div>

{% endblock %}